<p id="notice"><%= notice %></p>

<h1>Books</h1>
<div class="col-md-9">

  <table>
    <thead>
      <tr>
        <th><%= link_to "Title", :sort => "title" %></th>
        <th><%= link_to "Author", :sort => "author" %></th>
        <th><%= link_to "Published Date", :sort => "published_date" %></th>
        <th><%= link_to "Category", :sort => "category" %></th>
        <th><%= link_to "Recommended Ages", :sort => "recommended_age" %></th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= link_to book.title, book %></td>
          <td><%= book.author %></td>
          <td><%= book.published_date %></td>
          <td><%= book.category %></td>
          <td><%= book.recommended_age %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>

<div class="col-md-3 pull-right">
  <% if current_user %>
    <%= link_to 'New Book', new_book_path, class: 'btn btn-success' %>
  <% end %>
  <div class="mdc-card">
    <h4>Search Books and Authors</h4>
    <%= form_tag(books_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Books and Authors" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>
</div>
