<%= form_for(wiki) do |f| %>
  <% if wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>

      <ul>
      <% wiki.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>

  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.collection_select :category, Wiki::CATEGORIES, :to_s, :to_s, :include_blank => true %>
  </div>

  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.hidden_field :body, rows: 8, :id => "editor" %>
    <trix-editor input="editor"></trix-editor>
  </div>

  <div class="form-group">
    <%= f.label :public_access %><br>
    <%= f.check_box :public_access %>
  </div>

  <div class="form-group">
    <%= f.hidden_field :user_id, :value => @user.id %>
  </div>

  <div class="actions">
    <%= f.submit "Save Changes", class: 'btn btn-success' %>
  </div>
<% end %>
