<h1>Books Index</h1>

<div class="row">
  <div class="col-md-8">
    <table>
      <thead>
        <tr>
          <th><%= link_to "Name", :sort => "name" %></th>
          <th><%= link_to "Author", :sort => "author" %></th>
          <th><%= link_to "Category", :sort => "category" %></th>
          <th>Preview</th>
        </tr>
      </thead>

      <tbody>
        <% @wikis.each do |wiki| %>
          <tr>
            <td><%= link_to wiki.name, wiki %></td>
            <td><%= wiki.author %></td>
            <td><%= wiki.category %></td>
            <td><%= raw(wiki.body.truncate(100)) %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <h4 class="text-center"><strong>Don't See The Book You're Looking For?</strong></h4>
    <% if current_user %>
      <p class="text-center"><%= link_to 'Create New Book Summary', new_wiki_path, class: 'btn btn-success' %></p>
    <% else %>
      <h4 class="text-center"><%= link_to "Login", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> to contribute!</h4>
    <% end %>
  </div>
</div>
