<h1><%= @wiki.title %></h1>
<div class="col-md-8">
  <h3>Written By: <%= @wiki.author %> </h3>
  <h4>Published: <%= @wiki.published_date %> </h4>
  <h4>Book Category: <%= @wiki.category %> </h4>
  <p><strong>Setting:</strong></p>
  <p><%= @wiki.setting %> </p>
  <p><strong>Age Range:</strong></p>
  <p><%= @wiki.recommended_age %> </p>
  <p><strong>Sensitive Content</strong></p>
  <p> <%= @wiki.sensitive_content %> </p>
  <p><strong>Book Synopsis</strong></p>
  <p> <%= @wiki.book_synopsis %> </p>

  <p><strong>Chapter Summaries</strong></p>
  <p> <%= raw(@wiki.body) %> </p>

</div>
<div class="col-md-4 pull-right">
  <% if !current_user %>
    <%= link_to 'Login To Edit', new_user_session_path, class: 'btn btn-info' %><br>
  <% elsif current_user || authorized?(current_user, @wiki) %><br>
    <%= link_to 'Edit This Wiki', edit_wiki_path(@wiki), class: 'btn btn-success' %><br>
  <% end %>

  <%= link_to 'Back to All Wikis', wikis_path, class: 'btn btn-info' %><br>
  <% if current_user && current_user.role == "awesome" %>
    <%= link_to 'Delete This Wiki', @wiki, method: :delete, data: { confirm: 'Are you sure you want to delete this wiki?' }, class: 'btn btn-danger'%>
  <% end %>
  <h3>Wiki Info</h3>
  <p>Created by: <%= @wiki_owner.first_name %> <%= @wiki_owner.last_name %></p>
  <p>Date: <%= @wiki.created_at.to_date.to_formatted_s(:long_ordinal) %></p>
  <p>Most Recent Edit: <%= @wiki.updated_at.to_date.to_formatted_s(:long_ordinal) %></p>
  <p>History:</p>
  <%= link_to "History", wikis_history_path %>
</div>
