<p>
  <strong>Name:</strong>
  <%= @wiki.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @wiki.body %>
</p>

<% if current_user %>
  <%= link_to 'Edit This Wiki', edit_wiki_path(@wiki) %> |
<% end %>
<% if current_user && current_user.role == "awesome" %>
  <%= link_to 'Delete This Wiki', @wiki, method: :delete, data: { confirm: 'Are you sure you want to delete this wiki?' } %> |
<% end %>
<%= link_to 'Back to All Wikis', wikis_path %>
